@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Press Start 2P', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navbar */
.navbar{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 3rem; 
    text-align: center;
    padding-bottom: 1.5rem; 
}

p{
    font-size: 1rem;
}
.start-screen h3{
    text-align: center;
    padding: 1rem 0;
    font-size: 2.3rem;
    letter-spacing: 8px;
}
img{
    display: block;
}

.my-image{
    width: 18%;
    height: auto;
    border-radius: 50%;
}
.loading-page{
    background-color: #4400FF;
    color: #9C92F8;
    font-weight: 900;
    height: 100vh;
}
.loading-page p{
    padding: 1rem ;
}
.none{
    display: none;
}

.bg-black{
    background-color: black;
}
.flex{
    display: block;
}
.intro-text{
    width: 36%;
    min-width: 340px;
    text-align: center;
    padding-top: 2rem;
}
.h-full{
    height: 100vh;
}
/* CSS for blinking dot */
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .dot-blink {
    animation: blink 1s step-start infinite;
  }
@media screen and (max-width: 870px) {
    .start-screen h3{
        text-align: center;
        padding: 1rem 0;
        font-size: 1.3rem;
        letter-spacing: 6px;
    }
    #about{
        height: auto;
    }
   
}

