html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem; 
    padding-bottom: 1.5rem; 
}
h3{
    text-align: center;
    padding: 1rem 0;
    font-size: 2.3rem;
    letter-spacing: 8px;
}
img{
    display: block;
}
.my-image{
    width: 20%;
    height: auto;
    border-radius: 50%;
}
.loading-page{
    background-color: #4400FF;
    color: #9C92F8;
    font-weight: 900;
    height: 100vh;
}
.loading-page p{
    padding: 1rem ;
}
.none{
    display: none;
}

.bg-black{
    background-color: black;
}
.flex{
    display: block;
}
.intro-text{
    width: 36%;
    min-width: 340px;
    text-align: center;
    padding-top: 2rem;
}
.h-full{
    height: 100dvh;
}

